/* CSS reset */
* {
  margin: 0;
  padding: 0;
  background: transparent;
  outline: none;
  text-decoration: none;
  font-family: inherit;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
  display: inline-block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

/* App */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body, html {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;

}

.counter {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

button {
  border: 1px solid;
  border-color: darkgreen;
  background-color: green;
  font-size: 2rem;
  padding: .25em 1em;
  color: white;
  border-radius: 6px;
  margin: 1rem;
}

button:hover {
  color: darkgreen;
  background-color: white;
}

nav {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  background-color:  green;
}
nav ul {
  /* width: 100%; */
  display: flex;
  justify-content: flex-start;
}

nav button {
  border: none;
  border-color: darkgreen;
  background-color: green;
  padding: .25em 1em;
  color: white;
  padding: .75em 2em;
  margin: 0 1rem;
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 0;
}

nav li.right {
  align-self: flex-end;
}

button.homeValue, button.profileValue {
  background-color:white;
  color: darkgreen;
  border: none;
  border-radius: 0;
}
